doctype html
html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title flashcards
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  link(href='https://fonts.googleapis.com/css?family=Press+Start+2P|Staatliches|Ranchers' rel='stylesheet')

body
  .container#welcomeToWebsite
    h1 Flashcards:
    #header2
      h6 
        br
        |  for Software Engineers
        br
        br
  .container-fluid.typewriter#welcomeCard
    h3 Welcome to the Matrix.
  button#begin(type='btn') Begin Downloading

  .container#flashcardsLoaded
    .row#questionRow
      #question.typewriter
    .row#hintRow   
      #hint(type= 'hidden')
    .row#answerRow
      #answer(type= 'hidden')
    .row
      .col
        button#submitHint(type='btn') Hint
      .col
        button#submitAnswer(type='submit') Answer
    .row
      button#submitNext(type='btn') Next Card →
      button#addCard(type='submit') Add Card +
 
  form(action='/flashcards' method='POST')
    .container#flashcardsUploaded
      .row
        input#addCardQuest(type='text' placeholder='Enter question' name='question')
      .row    
        input#addCardAnsw(type='text' placeholder='Enter answer' name='answer')
      .row
        input#addCardHint(type='text' placeholder='Enter hint' name='hint')
      button#submit(type='submit') Submit
      button#cancel(type='button' value='Reset Form' onclick='this.form.reset()') Cancel
    
    
  button#update(type='btn') Edit Card
  form(action='/flashcards/:id' method='POST')
    .container#flashcardsUpdated
      .row
        input.id(type='text' name='id')
      .row
        input#updateCardQuest(type='text' placeholder='Edit question' name='question')
      .row    
        input#updateCardAnsw(type='text' placeholder='Edit answer' name='answer')
      .row
        input#updateCardHint(type='text' placeholder='Edit hint' name='hint')
      button#submitPut(type='submit') Submit
      button#cancelPut(type='button' value='Reset Form' onclick='this.form.reset()') Cancel  

  form(action='/flashcards/delete/:id' method='POST')
    .container#flashcardsDelete
      .row
        input.id(type='text' name='id')
      .row
        input#deleteCardQuest(type='text' placeholder='Edit question' name='question')
      .row    
        input#deleteCardAnsw(type='text' placeholder='Edit answer' name='answer')
      .row
        input#deleteCardHint(type='text' placeholder='Edit hint' name='hint')
      button#delete(type='submit') Delete
      button#cancelDelete(type='button' value='Reset Form' onclick='this.form.reset()') Cancel 
  button#deleteCard(type='button') Delete Card


script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
script(src="/scripts/index.js")
    




//- Not working properly YET, creating a a function that checks for empty strings 
//-.modal#ifEmptyStrings(tabindex='-1' role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Do not leave any fields empty
          .modal-body
            .row
              input#addCardQuest(type='text' placeholder='Enter question' name='question')
            .row    
              input#addCardAnsw(type='text' placeholder='Enter answer' name='answer')
            .row
              input#addCardHint(type='text' placeholder='Enter hint' name='hint')
          .modal-footer
            button#submit.btn.btn-primary(type='submit') Save changes