/* #flashcardsUploaded{
    background: black;  */
    /* width: 340px; */
    /* height: 360px;
    color: green; */
    /* border: solid gray 1px; */
    /* border-radius: 25px;
    font-family: 'Press Start 2P', cursive;
} */
#flashcardsUploaded{
    color: green;
    border-radius: 25px;
    font-family: 'Press Start 2P', cursive;
    width: 800px; 
    position: fixed;
    left:18%;
    margin-top: 15%;
}
#welcomeCard{
    /* width: 500px;
    height: 200px; */
    /* border-radius: 25px; */
    margin-top: 5%;
    color: green;
    font-family: 'Press Start 2P', cursive;
}

/* #question, #answer, #hint{
    background: black
} */

#addCardQuest, #addCardAnsw, #addCardHint{
    border: black;
    color: green;
    font-family: 'Press Start 2P', cursive;
}

body{
    background: black
}

#flashcardsLoaded{
    background:black; 
    width: 800px; 
    position: fixed;
    left:15%;
    text-align: center;
    /*height: 360px; */
    color: green;
    border: solid black;
    border-radius: 25px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 15%;
}

#submit,#submitHint, #submitAnswer, #cancel, #submitNext, #update, #begin, #submitPut, #cancelPut{
    background: green;
    /* border-radius: 15px; */
    color: black;
    border: green;
    font-family: 'Press Start 2P', cursive;
} 

#submitPut{
    position: fixed;
    bottom: 10%;
    right: 40%;
    height: 30px;
}

#cancelPut{
    position: fixed;
    bottom: 10%;
    right: 30%;
    height: 30px;
    
}

#submit{
    margin-right: 8%
}

#submitHint{
    position: fixed;
    bottom: 40%;
    left: 25%; 
    height: 30px;
}

#submitAnswer{
    position: fixed;
    bottom: 40%;
    right: 25%;
    height: 30px;
}


#submitNext{
position: fixed;
    bottom: 10%;
    right: 10%;
    height: 30px;
}

#begin{
    position: fixed;
    bottom: 0;
    left: 39%;
    /* border-radius: 15px; */
    height: 30px;
    /* width: 150px; */
    margin-bottom: 12%
}
 
#updateCardQuest, #updateCardHint, #updateCardAnsw{
    color: green
}

#addCard {
    /* border-radius: 15px; */
    height: 30px;
    /* width: 150px; */
    background: green;
    color: black;
    border: green;
    position: fixed;
    bottom: 10%;
    left: 10%; 
    font-family: 'Press Start 2P', cursive;
 
}

/* h1{
    border-radius: 25px
} */
h6 {
    font-family: 'Press Start 2P', cursive;
    color: green;
    background: black;
    text-align: center;
    /* border-radius: 25px; */
}


 .typewriter h3{
    overflow: hidden; /*Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /*Keeps the content on a single line */
    margin: 0 auto; /*Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /*Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green; }
  }

h1 {
    font-family: 'Staatliches', cursive;
    background: green;
    margin-bottom: -5%
/* font-family: 'Ranchers', cursive; */
}

#header2 {
    margin-top: -4%
}


