body{
    background: black
}
/* "Flashcards" header */
h1 {
    font-family: 'Staatliches', cursive;
    background: green;
    margin-bottom: -5%
}

#header2 {
    margin-top: -4%
}

#welcomeCard{
    margin-top: 5%;
    color: green;
    font-family: 'Press Start 2P', cursive;
}

h6 {
    font-family: 'Press Start 2P', cursive;
    color: green;
    background: black;
    text-align: center;
}

 .typewriter h3{
    overflow: hidden; /*Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /*Keeps the content on a single line */
    margin: 0 auto; /*Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /*Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green; }
  }

  /* Button to begin app */
  #begin{
    position: fixed;
    bottom: 0;
    left: 39%;
    height: 30px;
    margin-bottom: 12%
}

/* Styling for all containers */
#flashcardsLoaded, #flashcardsUpdated, #flashcardsUploaded, #flashcardsDelete{
    background:black; 
    width: 800px; 
    position: fixed;
    left:15%;
    text-align: center;
    color: green;
    border: solid black;
    border-radius: 25px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 10%;
}

/* Add flashcard test fields */
#addCardQuest, #addCardAnsw, #addCardHint{
    color: green;
    font-family: 'Press Start 2P', cursive;
}

/* Styling for all buttons */
#submit,#submitHint, #deleteCard, #submitAnswer, #cancel, #delete, #cancelDelete, #submitNext, #update, #begin, #submitPut, #cancelPut{
    background: green;
    color: black;
    border: green;
    font-family: 'Press Start 2P', cursive;
    height: 30px;
}

/* Add card button */
#update{
    position: fixed;
    top: 0%;
    right: 0%;
}

/* Delete flashcard text fields*/
#deleteCardQuest, #deleteCardHint, #deleteCardAnsw{
    color:green;
    font-family: 'Press Start 2P', cursive;
}

/* Delete card button */
#deleteCard{
    position: fixed;
    top: 0%;
    left: 0%;
}

/* Edit card, delete, and add card submit buttons */
#submitPut, #delete, #submit{
    position: fixed;
    bottom: 10%;
    left: 30%;
}

/* Cancel buttons for Edit card, delete, and add card */
#cancelPut, #cancelDelete, #cancel{
    position: fixed;
    bottom: 10%;
    right: 30%;    
}

/* Hint button */
#submitHint{
    position: fixed;
    bottom: 40%;
    left: 25%; 
    height: 30px;
}

/* answer button */
#submitAnswer{
    position: fixed;
    bottom: 40%;
    right: 25%;
    height: 30px;
}

/* Next card button */
#submitNext{
position: fixed;
    bottom: 10%;
    right: 10%;
    height: 30px;
}

/* Edit card text fields */
#updateCardQuest, #updateCardHint, #updateCardAnsw{
    color: green;
    font-family: 'Press Start 2P', cursive;
}

/* Add card button */
#addCard {
    height: 30px;
    background: green;
    color: black;
    border: green;
    position: fixed;
    bottom: 10%;
    left: 10%; 
    font-family: 'Press Start 2P', cursive;
}



